@mixin link-hover-active {
  transition: color 0.4s ease-out, opacity  0.4s ease-out;

  &:hover {
    //color: $color-chartreuse;
    opacity: 0.6;

    &:visited {
      //color: $color-chartreuse;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin clear-ul {
  padding: 0;
  list-style: none;
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md) {
    @content;
  }
}

// Mobile first

/* @mixin viewport--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
} */
