
.logo {
    flex-shrink: 0;
    margin: 0 20px 0 0;
    cursor: pointer;
    align-self: flex-start;
  
    &:hover {
      opacity: 0.6;
    }
  
    &:active {
      opacity: 0.3;
    }
  
    img {
      display: block;
    }
  }
  