.main {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    a[href] {
      @include link-hover-active;
    }
  }
  
  .main__wrapper {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
  }
  
  .main__search {
    width: 100%;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main__search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    *,*:focus,*:hover {
      outline: none;
    }
  
    input {
      flex-grow: 1;
      height: 58px;
      padding: 10px 20px 10px;
      border: 2px solid $color-black;
      border-right: none;
      transition: border-color 0.3s ease-out, opacity  0.3s ease-out;
  
      &:focus,
      &:active,
      &:hover {
        border-color: $color-astral;
      }
    }
  
    button[type='submit'] {
      height: 58px;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      background-color: $color-silver-chalice;
      color: $color-white;
      border: 2px solid $color-black;
      cursor: pointer;
  
      transition: background-color 0.3s ease-out, opacity  0.3s ease-out;
  
      &:focus {
        background-color: $color-astral;
      }
  
      &:active {
        background-color: $color-astral;
      }
  
      &:hover {
        background-color: $color-astral;
      }
    }
  }
  
  .main__search-form-fields {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .main__info {
    width: 100%;
    margin-top: 57px;
    display: flex;
  
    a {
      color: $color-astral;
    }
  }
  
  .main__news-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include clear-ul;
  }
  
  .main__news-list-item {
    width: calc((100% - 96px) / 4);
    margin-right: 32px;
    margin-bottom: 52px;
  
    &:nth-child(4n+4) {
      margin-right: 0;
    }
  
    ul {
      @include clear-ul;
    }
  
    p {
      line-height: 1em;
    }
  
    h3 {
      margin: 0 0 20px 0;
      font-size: 20px;
    }
  }
  