.main {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    a[href] {
      @include link-hover-active;
    }

    &--no-padding {
      padding: 0;
    }

    &--sky-color-bg {
      background-color: $color-light-cyan;
    }
}
  
.main__wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;

  @include viewport--lg {
    max-width: 1200px;
  }

  @include viewport--sm {
    max-width: 100%;
  }
}

.main__search {
  width: 100%;
  height: 52px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include viewport--md {
    top: 27vw;
  }
}

.main__search-form {
  height: 52px;
}

.main__search-form,
.main__advanced-search-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  *,*:focus,*:hover {
    outline: none;
  }

  input {
    flex-grow: 1;
    height: 52px;
    padding: 10px 20px 10px;
    border: 2px solid $color-black;
    transition: border-color 0.3s ease-out, opacity  0.3s ease-out;

    &:focus,
    &:active,
    &:hover {
      border-color: $color-regent-st-blue;
    }
  }

  button[type='submit'] {
    height: 52px;
    padding: 0 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: $color-white;
    color: $color-default-black;
    border: 2px solid $color-black;
    border-left: none;
    cursor: pointer;
    transition: background-color 0.3s ease-out, opacity  0.3s ease-out;

    &:focus {
      background-color: $color-regent-st-blue;
    }

    &:active {
      background-color: $color-regent-st-blue;
    }

    &:hover {
      background-color: $color-regent-st-blue;
    }

    @include viewport--sm {
      font-size: 20px;
      padding: 0 20px;
    }
  }
}

.main__search-form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 20px;
  }

  @include viewport--md {
    padding: 0;
  }
}

.main__search-form {
  & .main__search-form-fields {
    flex-direction: row;
  }
}

.main__info {
  width: 100%;
  margin-top: 34vw;
  margin-bottom: 100px;
  padding: 20px;
  display: flex;
  background-color: $color-white;

  a {
    color: $color-astral;
  }

  @include viewport--lg {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  @include viewport--md {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  @include viewport--sm {
    margin-bottom: 0;
    flex-direction: column;
  }

}

.main__news {
  width: calc((100% - 60px) / 4);
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    margin: 0 0 20px;
  }

  @include viewport--lg {
    width: calc((100% - 20px) / 2);
    margin-bottom: 60px;
  }

  @include viewport--md {
    width: 100%;
    margin-right: 0;
  }

}

.main__news-list,
.main__fresh-arrivals-list,
.main__populars-list,
.main__collections-list {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.6em;

  @include clear-ul;
}

.main__news-list-item {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-regent-st-blue;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  ul {
    @include clear-ul;
  }

  p {
    margin: 0;
  }

  h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
  }

  span {
    font-size: 13px;
    color: $color-regent-st-blue;
  }
}

.main__fresh-arrivals {
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  h2 {
    font-size: 24px;
    margin: 0 0 22px;
  }

  @include viewport--lg {
    width: calc((100% - 20px) / 2);
    margin-right: 0;
    margin-bottom: 60px;
  }

  @include viewport--md {
    width: 100%;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.main__fresh-arrivals-list-item,
.main__populars-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
    margin-right: 20px;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  &:nth-child(2n+2) {
    margin-right: 0;
  }

  a {
    display: block;
    color: $color-summer-sky;
    text-decoration: underline;
  }

  p {
    width: 100%;
    margin: 0;
  }

  @include viewport--sm {
    width: 100%;
    margin-right: 0;
  }
}

.main__fresh-arrival-picture {
  width: calc(30% - 20px);
  margin-right: 20px;
  margin-bottom: 1em;

  img {
    width: 100%;
  }
}

.main__collections {
  width: calc((100% - 60px) / 4);
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    margin: 0 0 22px;
  }

  @include viewport--lg {
    width: calc((100% - 20px) / 2);
  }

  @include viewport--sm {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.main__collections-list-item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin: 0 0 30px;
    font-size: 18px;
  }

  a {
    display: block;
    color: $color-summer-sky;
    text-decoration: underline;
  }

  ul {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include clear-ul;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main__populars {
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 24px;
    margin: 0 0 22px;
  }

  @include viewport--lg {
    width: calc((100% - 20px) / 2);
  }

  @include viewport--sm {
    width: 100%;
    margin-right: 0;
  }
}

.main__search-container {
  width: 100%;
  padding: 35px 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $color-light-cyan;

  & .main__search-form-fields {
    padding: 0;
  }

  @include viewport--md {
    padding: 35px 0;
  }

  @include viewport--md {
    padding: 20px 0;
  }
}

.main__advanced-button {
  width: 158px;
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  background-color: $color-white;
  color: $color-default-black;
  border-top: 2px solid $color-black;
  border-left: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  border-right: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out, opacity  0.3s ease-out;

  &:focus {
    background-color: $color-regent-st-blue;
  }

  &:active {
    background-color: $color-regent-st-blue;
  }

  &:hover {
    background-color: $color-regent-st-blue;
  }

  span {
    position: relative;
    font-size: 34px;
    margin-right: 10px;
  }
}

.main__advanced-search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid $color-black;
  padding: 20px;
  background-color: $color-white;

  &--no-padding {
    padding: 0;
  }

  &--no-border {
    border: none;
  }

  &--no-background {
    background-color: transparent;
  }
}


.main__advanced-search-fields {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  line-height: 1.2em;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    min-width: 135px;
    flex-shrink: 0;
    padding: 0 20px;
  }

  input {
    flex-grow: 1;
    height: 32px;
    padding: 6px 10px 6px;
    border: 2px solid $color-black;
    transition: border-color 0.3s ease-out, opacity  0.3s ease-out;

    &:focus,
    &:active,
    &:hover {
      border-color: $color-regent-st-blue;
    }
  }

  & > input {
    height: 50px;
  }

  &--short {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &:not(:first-child) {
      label {
        min-width: auto;
      }
    }

    input {
      max-width: calc(100% - 135px);
    }

    @include viewport--lg {
      width: calc((100% - 20px) / 2);
    }

    @include viewport--md {      
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      label {
        margin-bottom: 10px;
      }
    }
  }

  &--column {
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;

    input {
      width: 100%;
      max-width: 100%;
    }

    label {
      min-width: auto;
      flex-shrink: 0;
      padding: 0;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .main__advanced-search-select-field {
      width: 100%;
      max-width: 100%;
      
    }
  }
}

.main__advanced-search-form {
  display: flex;
  flex-direction: column;
  
  label {
    min-width: auto;
    flex-shrink: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;    
  }

  button[type="submit"] {
    margin-top: 20px;
    border-left: 2px solid $color-black;
  }

  .main__advanced-search-fields--short {
    width: calc((100% - 20px) / 2);

    input {
      width: 100%;
      max-width: inherit;
    }

    @include viewport--md {
      width: 100%;
    }
  }
}

.main__advanced-search-fields-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include viewport--md {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    label {
      margin-right: 10px;
    }
  }
}

.main__advanced-search-select-field {
  width: calc(100% - 135px);
}

.main__partners {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $color-provincial-pink;

}

.main__partners-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  @include clear-ul;

  @include viewport--md {
    justify-content: space-around;
  }
}

.main__partner {
  width: calc((100% - 100px) / 6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }

  @include viewport--md {
    width: calc((100% - 60px) / 4);

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  @include viewport--sm {
    width: calc((100% - 20px) / 2);

    &:nth-child(3n+3) {
      margin-right: inherit;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

.main__partner-logo-container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__search-line-advanced-search-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .main__advanced-search {
    flex-direction: row;
  }
  
  & .main__search-form-fields {
    width: calc((100% - 20px) / 2);
    margin: 0 20px 0 0;

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  & .main__advanced-search-fields-row {
    margin-top: 27px;

    @include viewport--sm {
      margin-top: 0;
    }
  }

  button[type="submit"] {
    margin: 20px auto 0;
  }
}

  