.main-screen {
    width: 100%;
    min-height: 200px;
    padding: 0 70px 0;
    display: flex;
  
    a[href] {
      @include link-hover-active;
    }

    &--heigh {
      //min-height: 830px;
    }

    &--short {
      min-height: 16vw;
    }
  }
  
  .main-screen__wrapper{
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
  }