.main-screen {
    width: 100%;
    min-height: 830px;
    padding: 0 70px 0;
    display: flex;
  
    a[href] {
      @include link-hover-active;
    }
  }
  
  .main-screen__wrapper{
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
  }