.page-header {
    width: 100%;
    padding: 43px 20px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    h1 {
        margin: 12px 32px 0 0;
        font-size: 32px;
        line-height: 38px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;

        span {
            display: block;
            font-size: 32px;
            font-weight: bold;
            text-transform: none;
            letter-spacing: 0.1px;
        }

        @include viewport--sm {
            order: 2;
            width: 100%;
            text-align: center;
            margin-right: 0;
            margin-top: 22px;
        }
    }

    @include viewport--sm {
        padding-top: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.page-header__menu {
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-direction: column;
    margin: 19px 80px 0;
    line-height: 36px;

    a {
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    @media (max-width: $header-menu-adapdtation--xl - 1) {
        margin: 7px 30px 0;
    }

    @include viewport--lg {
        margin: 24px 20px 0 auto;
    }

    @include viewport--sm {
        display: none;
    }
}

.page-header__menu-list {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @include clear-ul;

    li {
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;

        @media (max-width: $header-menu-adapdtation--xl - 1) {
            font-size: 16px;
        }
    }

    @include viewport--lg {
        display: none;
    }
}

.page-header__right-menu {
    position: relative;
    display: flex;
    margin: 22px 0 0 auto;
    
    @media (max-width: $header-menu-adapdtation--xl - 1) {
        margin: 12px 0 0 auto;
    }

    @include viewport--lg {
        margin: 22px 0 0;
    }

    @include viewport--sm {
        display: none;
    }
}

.page-header__right-menu-list {
    display: flex;
    align-items: flex-start;
    margin: 0;

    @include clear-ul;

    li {
        margin-right: 63px;

        &:last-child {
            margin-right: 0;
        }
    }    
}

.page-header__submenu-list {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    
    @include clear-ul;

    li {
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        font-size: 16px;
        text-decoration: underline;

        @media (max-width: $header-menu-adapdtation--xl - 1) {
            font-size: 14px;
        }
    }

    @include viewport--lg {
        display: none;
    }
}

.page-header__special {
    flex-shrink: 0;
}

.menu-toggle {
    position: relative;
    display: none;
    margin-right: 20px;
    margin-top: 22px;
    width: 46px;
    height: 30px;
    background-color: transparent;
    background-image: url("/img/menu-icon@2x.png");
    background-size: 46px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    border: none;

    @include viewport--lg {
        display: block;
    }

    @include viewport--sm {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 23px;
        height: 15px;
        background-image: url("/img/menu-icon@1x.png");
        background-size: 23px 15px;
    }
}